body
{
	color: #d0d0d0;
	background-color: #121212;
}


.constant
{
	color: #af5fff;
}

var
{
	text-decoration: underline;
	text-transform: uppercase;
	font-style: normal;
}

.externalCommand
{
	font-weight: normal;
	color: #87ff00;
}

h1
{
	color: #d7005f;
}

h2, h3, h4, h5, h6
{
	font-weight: normal;
	color: #87ff00;
}

nav
{
	color: #d75f00;
}

a[href]
{
	font-weight: normal;
	color: #007EDF;
	transition: text-shadow 0.5s ease 0s;
}

a[href]:hover
{
	color: #0069BA;
}

a.displayedLink[href]
{
	color: #ff8700;
}

a.displayedLink[href]:hover
{
	color: #ff8700;
}

a.displayedLink:before, a.displayedLink:after
{
	content: "|";
	font-weight: normal;
	color: #808080;
}

.Function { color: #87ff00; font-weight: normal;}
.Special { color: #5fd7ff; background-color: #080808; padding-bottom: 1px; }
.Comment { color: #5f5f5f; }
.Underlined { color: #808080; text-decoration: underline; }
.LineNr { color: #bcbcbc; background-color: #1c1c1c; padding-bottom: 1px; }
.Title { color: #d75f00; }
.Statement { color: #d7005f; font-weight: bold; }
.PreProc { color: #87ff00; }
.Type { color: #5fd7ff; font-weight: normal;}
.Identifier { color: #ff8700; font-weight: bold; }
.String { font-style: normal; color: #afaf87; }
.Ignore { color: #808080; background-color: #080808; }
